.portfolio-section {
  .inner-container {
    > .col-md-6 {
      div {
        padding: 0;
      }
    }
    img:not(.more) {
      width: 100%;
      background: {
        size: contain;
        position: center;
        repeat: no-repeat;
      };
    }
  }
  .hover-box {
    &:after {
      display: none;
    }
    p {
      text-transform: uppercase;
      font: {
        weight: 400;
      };
      span {
        text-transform: none;
        display: block;
        margin: 5px auto 0;
        font: {
          size: 15px;
          style: italic;
          family: $roboto;
          weight: 300;
        };
      }
    }
  }
}


@media(max-width: 991px) {

  .portfolio-section {

  }

}

@media(max-width: 767px) {

}