.what-we-do-section {
  .info-container {
    height: 375px;
    overflow: hidden;
    .col-sm-6 {
      height: 100%;
    }
    .img-container {
      background: {
        size: cover;
        position: center;
        repeat: no-repeat;
      };
    }
    .collapse-container {
      li {
        border: 1px solid #e5e5e5;
        margin: 0 0 10px ;
        &.active {
          .scroll-content {
            height: 165px;
          }
          header {
            border-color: #e5e5e5;
          }
          .arrow {
            transform: rotate(225deg);
            top: 8px;
          }
        }
        &:last-child {
          margin: 0;
        }
      }
      img {
        display: inline-block;
        margin: 0 15px 0 0;
      }
      header {
        border-bottom: 1px solid transparent;
        padding: 15px;
        position: relative;
        cursor: pointer;
      }
      strong {
        color: #333;
        font: {
          size: 14px;
          weight: 700;
        };
      }
      .arrow {
        @include positionAbsolute($t: -8px, $r: 15px, $l: auto);
        width: 16px;
        height: 16px;
        border-right: 3px solid #e5e5e5;
        border-bottom: 3px solid #e5e5e5;
        transform: rotate(45deg);
        transition: 0.5s cubic-bezier(0.5, 0.15, 0.17, 1);
        border-radius: 3px
      }
      .scroll-content {
        height: 0;
        position: relative;
        transition: 0.5s cubic-bezier(0.5, 0.15, 0.17, 1);
        p {
          line-height: 1.2em;
          color: #999;
          margin: 0;
          padding: 0 20px 0 0;
          font: {
            family: $roboto;
            style: italic;
          }
        }
        .inner {
          @include positionAbsolute($t: 20px, $r: 20px, $b: 20px, $l: 20px);
          overflow-y: scroll;
        }
        .jspDrag {
          width: 5px;
          background: #95e1d3;
          border-radius: 3px;
        }
        .jspTrack {
          width: 5px;
          background: #f5f5f5;
          border-radius: 3px;
        }
        .jspVerticalBar {
          width: 5px;
          background: #f5f5f5;
          border-radius: 3px;
        }
      }
    }
  }
}

@media(max-width: 767px) {

  .what-we-do-section {
    .info-container {
      height: auto;
      .col-sm-6 {
        height: auto;
      }
    }
  }

}